<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hcmute.fonestore">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Fone Store"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.FoneStore">
        <activity
            android:name=".Animation.SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".Activity.CartActivity" />
        <activity android:name=".Activity.CategoryActivity" />
        <activity android:name=".Activity.FavoriteActivity" />
        <activity android:name=".Activity.HotActivity" />
        <activity android:name=".Activity.LoginActivity" />
        <activity android:name=".Activity.ProductActivity" />
        <activity android:name=".Activity.ProductDetailActivity" />
        <activity android:name=".Activity.RegisterActivity" />
        <activity android:name=".Activity.SearchActivity" />
        <activity android:name=".fragment.user.admin.AddProductActivity" />
        <activity android:name=".fragment.user.InfoActivity" />
        <activity android:name=".fragment.user.SettingsActivity" />
        <activity android:name=".fragment.user.UserActivity" />
        <activity android:name=".fragment.user.SeenProductActivity" />
        <activity android:name=".fragment.user.admin.UserMgrActivity" />
        <activity android:name=".fragment.user.admin.ProductMgrActivity" />
    </application>

</manifest>